body {
	font-family: 'Oswald', sans-serif;
	height: 100vh;
        background-color: #fff;
}

#header {
	text-align: center;
}

#form-container {
	min-height: 60vh;
	background: rgba(214, 214, 214, 0.74);
	position: relative;
	border-radius: 10px;
	border: 1px solid #eee;
}

#list-container,
#single-container {
	min-height: 60vh;
	background: rgba(214, 214, 214, 0.74);
	border-radius: 10px;
	border: 1px solid #eee;
}

#list-container,
#single-container {
	padding: 0px 10px;
}

.form-wrap {
	opacity: 0;
	padding: 10px;
	visibility: hidden;
	z-index: -1;
	transition: all .5s ease;
}

.form-wrap.form-wrap-show {
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

#main-app {
	background: white;
	padding: 40px;
}

.fa-plus-circle {
	font-size: 8rem;
	color: orange;
	transform: scale(1);
	transition: all .5s ease;
}

.fa-plus-circle:hover {
	cursor: pointer;
	opacity: .9;
	transform: scale(1.1);

}

.member-img {
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	width: 50%;
	display: block;
}

.member-item-container {
	animation-duration: .5s;
  animation-name: showDiv;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  
}

@keyframes showDiv{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.single-member-show {
	animation-duration: .5s;
  animation-name: showDiv;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  	
}



.heading {
	font-size: 2rem;
	padding-top: 10px;
	text-align: center;
}

.add-item {
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	display: block;
}

.errorMsg {
	color:rgba(230, 38, 38, 0.897);
	display: none;
}

#submit-update {
	display: none;
}